* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', 'Open Sans', sans-serif;
  color: #5E5E5E;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

p {
  line-height: 1.6;
  font-size: 1.2em;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/**************************
*HEADER
**************************/

.main-header {
  font-size: 5em; /* 80px/16px */
  color: #333;
}

/******* Navigation ********/
nav {
    background-color: #52BABF;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  padding: 10px 15px;
  border-bottom: 3px solid #fff;
}

.main-navigation li:last-child {
  border-bottom: none;
}

.main-navigation a {
  display: block;
  font-size: 1.125em; /* 18px/16px */
}

.main-navigation a:hover {
  color: #333;
}

/******* Banner ********/
.banner {
  height: 300px;
  background: url('../img/yoshi-fence.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  background-attachment: fixed;
}

.banner h2 {
    font-size: 2.25em; /* 36px/16px */
}

.tagline {
  font-size: 1.125em; /* 18px/16px */
  margin: 8px auto;
}

/**************************
*MAIN
**************************/
.section-heading {
  text-align: left;
  font-size: 2.5em;
  color: #66717E;
}

.primary,
.secondary,
.tertiary {
  /* margin-top: 0.8em; */
  padding: 100px 0;
  /* height: 700px; */
}

.home-card {
  background: #FAFAFA;
}
/****** Support Banners ******/
.support-banner.play {
  background-image: url('../img/yoshi-play.jpg');
}

.support-banner.sleep {
  background-image: url('../img/pepper-sleep.jpg');
}

.support-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  background-attachment: fixed;
  height: 400px;
  position: relative;
}

.support-banner h2 {
  font-size: 6rem;
  padding: 70px 0;
}
/**************************
*FOOTER
**************************/
footer {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 10px solid #52BABF;
}

/**************************
*MEDIA QUERY
**************************/
@media screen and (min-width: 760px) {

  /******* Header/Navigation ********/
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-header {
    width: 100%;
    background-color: #52BABF;
  }

  nav {
    background: #fff;
  }

  a {
    color: #52BABF;
  }

  .main-navigation {
    flex-direction: row;
  }

  .main-navigation li {
    border-bottom: none;
    margin: 0 40px;
  }

  /******* Banner ********/
  .banner {
    height: 530px;
  }

  #intro {
    margin-top: 10%;
  }

  .banner h2 {
    font-size: 3em; /* 48px/16px */
  }

  .tagline {
    font-size: 1.5em; /* 24px/16px */
  }

  /******* Main ********/
  .main-content img {
    display: inline-block;
    max-width: 50%;
    margin-left: 3%;
    float: right;
  }

  .section-heading {
    font-size: 2em;
  }
}

@media screen and (min-width: 1025px) {

  .wrapper {
    width: 75%;
  }

  /******* Header/Navigation ********/
  header {
    background-color: #52BABF;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 3%;
  }

  .main-header {
    width: auto;
  }

  nav {
    background: #52BABF;
  }

  a {
    color: #FFF;
  }

  .main-navigation li {
    margin: 0 20px;
  }

  .banner {
    height: 600px;
  }

  /******* Main ********/
  .section-heading {
    font-size: 3em;
  }

  .main-content img {
    max-width: 40%;
  }
}

@media screen and (min-width: 1100px) {
  /*** home support banners ***/
  .support-banner h2 {
    font-size: 5rem;
    padding: 115px 0;
  }

  .support-banner {
    height: 500px;
  }
}
